# 針對所有檔案生效
CompileFlags:
  # 對應 --compile-commands-dir
  CompilationDatabase: "backend/build"
  # 可以在這裡額外增加編譯參數
  Add: [-Wall, -std=c++20]

Diagnostics:
  # 對應 --clang-tidy
  ClangTidy:
    Add: ["*"] # 開啟所有檢查
    Remove: [bugprone-narrowing-conversions] # 視需求移除不想要的檢查

Completion:
  # 對應 --header-insertion=never
  HeaderInsertion: Never
  # 對應 --all-scopes-completion (部分版本支援)
  AllScopes: true

Style:
  # 對應 --fallback-style=google
  FallbackStyle: Google

Index:
  # 對應 --background-index
  Background: Build